{% extends "school/base.html" %}

{% block title %}View Teachers | SMS{% endblock %}
{% block page_title %}View Teachers{% endblock %}

{% block content %}

<div class="table-wrapper">

    <!-- SEARCH -->
    <form method="GET" style="margin-bottom: 15px; display:flex; gap:10px;">
        <input type="text" name="q" placeholder="Search by username / roll / class"
               value="{{ query }}">
        <button class="btn">Search</button>
        <a href="{% url 'add_student' %}" class="btn btn-primary" style="margin-left:auto;">Add Teacher</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Full_name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Phone</th>
                <th>Joining Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ teacher.user.username }}</td>
                <td>{{ teacher.roll_number }}</td>
                <td>{{ teacher.class_name }}</td>
                <td>{{ teacher.section }}</td>
                <td>{{ teacher.gender }}</td>
                <td>{{ teacher.date_of_birth }}</td>
                <td>
                    <div class="table-actions">
                        <a href="{% url 'update_teacher' teacher.id %}" class="btn-sm btn-edit">Edit</a>
                        <a href="{% url 'delete_teacher' teacher.id %}"
                           class="btn-sm btn-delete"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Not students found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
